@using Project.DAL.Models
@model Job 
<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İş Elanı</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        

        

        <section class="salary">
            <p><strong>Əmək haqqı:</strong> <span>@Model.Salary AZN</span></p>
            <p class="salary-note">💡 @Model.Name peşəsi üzrə son 3 ay ərzində ən yüksək əmək haqqı <strong>1500 AZN</strong> təklif olunub.</p>
        </section>

        <section class="job-details">
            <div class="column">
                <h2>İş barədə məlumat</h2>
                <ul>
                    <li>@Model.Description</li>
                    
                </ul>
            </div>
            <div class="column">
                <h2>Tələblər</h2>
                <ul>
                    <li> @Model.Requirements </li>
                </ul>
            </div>
        </section>

        <footer>
            <p class="warning">⚠️ Diqqət! İş axtaranların hüquqlarını qorumaq məqsədilə, heç bir sexs və ya təşkilat iş düzəltmək məqsədilə sizdən əvvəlcədən ödəniş tələb etməməlidir.</p>
        </footer>
    </div>
</body>
</html>
